/* Reset default styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Define colors */
.pink {
  background-color: pink;
}
.blue {
  background-color: blue;
}
.coral {
  background-color: coral;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}

/* Layout */


.ex3 .parent {
  display: grid;
  grid-template-columns: minmax(150px, 25%) 1fr;
}