/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #006400; /* Dark Green */
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
}

main {
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    border-radius: 10px;
    width: 80%;
    max-width: 1200px;
    position: relative;
}

.hero-img {
    width: 100%;
    border: 5px solid #c70039; /* Red border */
    border-radius: 10px;
    margin: 1rem 0;
    overflow: hidden; /* To ensure the image stays within the border */
}

.hero-img img {
    width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove the default space below the image */
}

.data-card, .weather-card {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin: 0 1rem;
    width: 100%;
    max-width: 500px;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    max-height: 500px; /* Initial state (fully opened) */
    opacity: 1;
    overflow: hidden;
}

h2 {
    background-color: #c70039; /* Red */
    color: white;
    padding: 0.5rem;
    text-align: center;
    border-radius: 3px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 0.5rem 0;
}

footer {
    background-color: #c70039;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 0.8rem;
    position: relative; /* Change from absolute for better footer behavior */
    width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
    .info {
        flex-direction: column;
    }

    .data-card, .weather-card {
        margin: 1rem 0;
    }

    .hero-img {
        height: auto; /* Remove fixed height for responsiveness */
    }
}

.data-card.collapsed, .weather-card.collapsed {
    max-height: 0;  /* Collapsed state */
    opacity: 0;
}
